@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #e2e8f0;
}

html {
  scroll-behavior: smooth;
}

article a {
  color: #108762;
  text-decoration: underline;
  font-weight: bold;
}

.nuxt-content h2,
.nuxt-content h3,
.nuxt-content h4 {
  margin-bottom: 2rem;
}

.nuxt-content h2 {
  padding-top: 5rem;
  margin-top: -4rem;
  font-size: 1.875rem;
}

.nuxt-content h2::after {
  content: ' ';
  width: 30%;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid #108762;
}

.nuxt-content h3 {
  padding-top: 5rem;
  margin-top: -4rem;
  font-size: 1.5rem;
}

.nuxt-content h3::after {
  content: ' ';
  width: 20%;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid #718096;
}

.nuxt-content h4 {
  padding-top: 5rem;
  margin-top: -4rem;
  font-size: 1.25rem;
}

.nuxt-content h4::after {
  content: ' ';
  width: 20%;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid #e2e8f0;
}

.nuxt-content p {
  margin-bottom: 1rem;
}

.nuxt-content p > code,
.nuxt-content li code {
  border-radius: 4px;
  padding: 2px 4px;
  background-color: #e2e8f0;
}

.nuxt-content ul {
  margin-left: 2rem;
  list-style-type: circle;
  margin-bottom: 1rem;
}

.nuxt-content table {
  margin-bottom: 1rem;
}

.nuxt-content table tr td {
  padding: 0 1rem;
}

.nuxt-content table tr:nth-child(even) {
  background-color: #e2e8f0;
}

.nuxt-content-highlight {
  @apply relative;

  margin-bottom: 1rem;
}

.nuxt-content-highlight .filename {
  @apply absolute right-0 text-gray-400 font-light z-10 mr-2 mt-1 text-sm;
}
